@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
 body {
     font-family: 'Poppins', sans-serif;
 }
 .container {
     max-width: 1200px;
     margin: 0 auto;
 }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo h3 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
}
.menu-bar ul {
    display: flex;
    margin: 10px;
}
.menu-bar li {
    list-style: none;
    margin: 10px;
}
.menu-bar a {
    text-decoration: none;
    color: #3A3A3A;
}